# Windows Maintenance Scripts - Git Ignore File

# Log files
*maintenance.log
*.log

# Temporary files
*.tmp
*.temp
.antigravitycli
ansible/vars/secrets.yml

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd


