[Unit]
Description=Run daily system updates and on wakeup

[Timer]
OnCalendar=daily
Persistent=true
OnBootSec=15min
OnUnitActiveSec=1d

[Install]
WantedBy=timers.target
