[Unit]
Description=Update system packages
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=%h/Workspace/os_bootstrap/linux/debian/update.sh
